@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0px;
  padding: 0;
}
.main-container{
  background: #f1f6fa;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    font-family: Cairo;
    color: #6f96aa;
    /* flex-wrap: wrap; */
}
::-webkit-scrollbar {
  display: none;
}
.main-container-flex{
  display: flex;     
}

@media screen and (max-width: 1157px) {
  .right-content{
    width: -webkit-fill-available;
  }
  .main-container{
    flex-wrap: wrap;
    width: -webkit-fill-available;
  }
  
}
@media only screen and (max-width: 557px) {}