@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0px;
  padding: 0;
  font-family: Cairo;
  color: #6f96aa;
}
.body1{
    background: linear-gradient(
      to right,
      #f1f6fa 60%,
      #f1f6fa 50%,
      white 59%,
      white 100%
    ); 
    display: flex;
}
::-webkit-scrollbar {
  display: none;
}