@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0px;
  padding: 0;
}
.main-container{
  background: #f1f6fa;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Cairo;
    color: #6f96aa;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1087px) {
  .left-sidebar{
     position: relative;
    height: auto; 

  }
  .right-content{
    position: absolute;
    margin-top: 55rem;
  }

}