.lil {
    display: flex;
    padding-top: 2.5rem;
  }
  .group-img {
    height: 40px;
    margin-bottom: 25%;
  }
  .right-content {
     padding-left: 8rem;   
  }
  .tour {
    padding-top: 15px;
    color: black;
    display: flex;
    
  }
  .word {
    padding: 5px;
    padding-bottom: 1.5rem;
    padding-left: 8px;
    color: black;
  }
  .word1 {
    padding: 5px;
    padding-top: 2em;
    margin-left: -4.5rem;
    font-size: 12px;
    padding-bottom: 1.5rem;
  }
  .i-1{
    float: right;
    height: 25px;
    width: 90px;
    padding-top: 1rem;
}
.i-2{
    padding-left: 250px;
    height: 20px;
    padding-top: 1.5rem;
}
.send-btn{
  width: 4.5rem;
  border-radius: 13px;
  color: white;
  padding: 0.5rem;
  height: fit-content;
  border: 1px solid orange;
  background-color: #FF844B;
  cursor: pointer;
}
.text-menu{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  } 
  .msg-img svg{
    padding: 0.2rem;
    width: 1.5rem;
    cursor: pointer;
  }
  .square-img-1 img{
    width: 45px;
    height: 45px;
    border-radius: 12px;
  }
.msg-img svg:hover path{
    fill: currentColor;
  }